<h1>&nbsp;スタッフ編集</h1>
<div class="cols-grids panel-widget">
<%= render 'form', staff: @staff %>

<%= link_to '詳細', @staff ,class: 'btn btn-info'%> |
<%= link_to '一覧', staffs_path ,class: 'btn btn-default'%>
</div>
