<h1>&nbsp;対応編集</h1>
<div class="cols-grids panel-widget">
<%= render 'form', respond: @respond %>

<%= link_to '詳細', @respond ,class: 'btn btn-info'%> |
<%= link_to '一覧', responds_path ,class: 'btn btn-default'%>
</div>
