<div class="cols-grids panel-widget">
  <div class="market-updates">
    <div class="col-md-4 market-update-gd">
      <div class="market-update-block clr-block-1">
        <div class="col-md-8 market-update-left">
          <h3>15</h3>
          <h4>お問い合わせ総数</h4>
          <p>登録済みお問い合わせの総数</p>
        </div>
        <div class="col-md-4 market-update-right">
          <i class="fa fa-address-book"> </i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-4 market-update-gd">
      <div class="market-update-block clr-block-2">
        <div class="col-md-8 market-update-left">
          <h3>135</h3>
          <h4>未対応お問い合わせ</h4>
          <p>未対応のお問い合わせ数</p>
        </div>
        <div class="col-md-4 market-update-right">
          <i class="fa fa-star"> </i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-4 market-update-gd">
      <div class="market-update-block clr-block-3">
        <div class="col-md-8 market-update-left">
          <h3>23</h3>
          <h4>新規お問い合わせ数</h4>
          <p>一週間以内のお問い合わせ数</p>
        </div>
        <div class="col-md-4 market-update-right">
          <i class="fa fa-envelope-o"> </i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="chit-chat-layer1">
    <div class="col-md-6 chit-chat-layer1-left">
      <div class="work-progres">
        <div class="chit-chat-heading">
          このツールについて
        </div>
        <div class="table-responsive">
          <table class="table table-hover">
            <p>顧客対応のナレッジを集約するプラットフォームです。</p><br>
            <p>カスタマーサポートのメンバーが知識や対応を共有することで、</p><br>
            <p>顧客満足度を向上させることを目指しています。</p><br>
            <p>お問い合わせおよび対応時のデータの保存が可能です。</p><br>
            <p>ツールの使い方やツールについての質問は左サイドバーからお願いします。</p><br>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6 chit-chat-layer1-right">
      <div class="work-progres">
        <div class="chit-chat-heading">
          最近の問い合わせカテゴリランキング
        </div>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>カテゴリ</th>
                <th>件数</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>配送関係</td>
                <td>57</td>
              </tr>
              <tr>
                <td>2</td>
                <td>イベント</td>
                <td>40</td>
              </tr>
              <tr>
                <td>3</td>
                <td>購入関係</td>
                <td>33</td>
              </tr>
              <tr>
                <td>4</td>
                <td>SNS関係</td>
                <td>25</td>
              </tr>
              <tr>
                <td>5</td>
                <td>退会処理</td>
                <td>13</td>
              </tr>
              <tr>
                <td>6</td>
                <td>その他</td>
                <td>10</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
