<h1>&nbsp;カテゴリ編集</h1>
<div class="cols-grids panel-widget">
<%= render 'form', category: @category %>

<%= link_to '詳細確認', @category ,class: 'btn btn-info'%> |
<%= link_to '一覧をみる', categories_path ,class: 'btn btn-default'%>
</div>
